@charset "UTF-8"

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}

header{
    background-color: rgb(207, 207, 207);
    width: 70%;
    margin: 20px 15% 40px 15%;
    padding: 0%;
}

h1{
    font-size: 4.2rem;
    font-weight: 400;
    text-align: center;
    font-family: 'Fuzzzy Bubbles', cursive;
}

h1 a{
    color: white;
}

h1 a:hover{
    color: black;
}
article{
    display: flex;
    justify-content: center;
}

/*サイドメニューバー*/
.side{
    background-color: white;
    width: 17%;
    height: 500px;
    padding: 20px;
    border: solid 2px rgb(207,207,207);
}
li{
    list-style: none;
    font-size: 2.5rem;
    font-family: 'Fuzzzy Bubbles', cursive;
    font-weight: 400;
    text-align: center;
    margin: 25px 0;
}
li a:hover{
    color: rgb(71, 212, 255);
}


/*Topページ*/
.top-contents{
    width: 50%;
    height: 500px;
    margin-left: 3%;
}

.top-contents img{
    width: 100%;
    height: 100%;
}

/*Infoページ*/
.info-contents{
    background-color: rgb(233, 233, 233);
    width: 50%;
    margin-left: 3%;
    padding: 40px 50px;
    text-align: center;
}

.info-contents h2{
    font-size: 4rem;
    font-family: 'Fuzzzy Bubbles', cursive;
    font-weight: 400;
    margin-bottom: 50px;
}

.info-contents img{
    width: 80%;
    height: 80%;
    padding: 20px;
    margin: 30px 0;
}

.info-p1{
    margin-bottom: 30px;
}


/*Profileページ*/
.profile-contents{
    background-color: rgb(233, 233, 233);
    width: 50%;
    margin-left: 3%;
    padding: 40px 50px;
    text-align: center;
}

.profile-contents h2{
    font-size: 4rem;
    font-family: 'Fuzzzy Bubbles', cursive;
    font-weight: 400;
    margin-bottom: 50px;
}

.profile-contents h3{
    font-size: 2.4rem;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 400;
    margin-bottom: 20px;
}

.profile-contents img{
    border-radius: 50%;
    margin-bottom: 30px;
}

.skill,.study{
    margin-bottom: 30px;
}

.skill-1,.skill-2{
    padding: 0;
    margin: 0;
}

.skill-2{
    background-color: white;
}

.skill-1 p,
.skill-2 p{
    display: inline-block;
    font-size: 20px;
}

.rate{
    position: relative;
    display: inline-block;
    font-size: 28px;
    }

.rate:before{
    content: "★★★★★";
    color: #ccc;
    }

.html-css-rate:before,
.photoshop-rate:before,
.illustrator-rate:before,
.adobexd-rate:before{
    position: absolute;
    top:0;
    left:0;
    color: #333333;
    overflow: hidden;
    }

.html-css-rate:before,
.adobexd-rate:before{
        content: "★★";
    }

.photoshop-rate:before,
.illustrator-rate:before{
        content: "★";
    }

.study p{
    font-size: 20px;
}

.sns img{
    display: inline-block;
    width: 50px;
    height: auto;
    margin: 20px 20px 0 20px;
}

/*Galleryページ*/
.gallery-contents{
    background-color: rgb(233, 233, 233);
    width: 50%;
    margin-left: 3%;
    padding: 40px 20px;
}

.gallery-contents h2{
    font-size: 4rem;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
}

.gallery-contents h3{
    font-size: 2.4rem;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.illust,.design{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 280px);
    justify-content: center;
    margin-bottom: 50px;
}

.website{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illust-coment,.design-coment{
    width: 280px;
    font-size: 14px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: ridge 3px rgb(207, 207, 207);
    border-radius: 10px;
}

.website-coment{
    width: 90%;
    padding: 10px 20px;
    margin-top: 10px;
    border: ridge 4px rgb(211, 211, 211);
    border-radius: 10px;
    margin: 20px 5% 50px 5%;
}

.illust span,
.design span{
    font-size: 16px;
    font-weight: bold;
}

.website span{
    font-size: 20px;
    font-weight: bold;
}

.website a{
    text-align: right;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 20px;
    font-style: italic;
}

.website a:hover{
    color: tomato;
}

.illust img{
    width: 280px;
    height: 250px;
    object-fit: cover;
    object-position: 0 0;
}

.design img{
    width: 280px;
    height: 250px;
    object-fit: contain;

}

.website img{
    width: 90%;
    height: 300px;
    margin: 0 5%;
    object-fit: cover;
}


/*Blogページ*/
.blog-contents{
    background-color: rgb(233, 233, 233);
    width: 50%;
    margin-left: 3%;
    padding: 40px 50px;
}

.blog-contents h2{
    font-size: 4rem;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
}

.blog-1,.blog-2{
    text-align: left;
}

.blog-1{
    margin-bottom: 60px;
}

.blog-title{
    font-size: 1.8rem;
    font-weight: bold;
    border-bottom: solid 2px rgb(54, 54, 54);
}

.blog-day{
    font-size: 1rem;
    margin: 10px 0;
}

.blog-contents img{
    width: 500px;
    height: auto;
    margin: 20px 0;
}

.blog-text{
    width: 95%;
    overflow-wrap: normal;
}

/*Contactページ*/
.contact-contents{
    background-color: rgb(233, 233, 233);
    width: 50%;
    margin-left: 3%;
    padding: 40px 80px;
}

.contact-contents h2{
    font-size: 4rem;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
}

.input-all{
    padding: 20px 0;
    margin-bottom: 50px;
    border-bottom: solid 2px black;
}

.ex-text{
    font-size: 1.1rem;
    margin-bottom: 20px;
}

label p{
    font-size: 1.5rem;
    font-weight: bold;
}

label,input,textarea{
    display: block;
}

.name,.e-mail,.message{
    background-color: white;
    border-radius: 5%;
    padding: 5px 10px;
    margin-bottom: 30px;
    resize: none;
}

.button{
    width: 80px;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    border: solid 2px rgb(165, 165, 165);
    padding: 5px 0;
    margin-bottom: 30px;
}

.my-email{
    background-color: white;
    width: 380px;
    height: auto;
    padding: 10px 15px;
    border-radius: 10px;
    border: dashed 2px rgb(126, 126, 126);
}

.my-email a{
    color: skyblue;
    font-size: 1.5rem;
    font-weight: bold;
}
/*フッター*/
footer{
    background-color: rgb(207, 207, 207);
    height: 50px;
    margin: 40px 15% 20px 15%;
    font-family: 'Fuzzy Bubbles', cursive;
}

footer p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    padding: 10px;
}

@media screen and (min-width:640px) and (max-width:1023px) {
    /*tablet用のcssを記述*/

/*ヘッター*/
header{
    width: 90%;
    margin: 20px 5% 40px 5%;
}

/*サイドメニュー*/
.side{
    width: 25%;
    padding: 20px 10px;
}

/*Topページ*/
.top-contents{
    width: 63%;
    margin-left: 2%;
}

/*各ページ*/
 .info-contents,
 .profile-contents,
 .blog-contents,
 .contact-contents{
    width: 63%;
    margin-left: 2%;
    padding: 40px;
}

/*Galleryページ*/
.gallery-contents{
    width: 63%;
    margin-left: 2%;

}
.illust,.design{
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 220px);
}

.illust-coment,.design-coment{
    width: 220px;
    padding: 10px;
}


.illust img{
    width: 220px;
    height: 220px;
}
.design img{
    width: 220px;
    height: 200px;
}


/*Blogページ*/
.blog-contents{
    height: 1440px;
}
.blog-contents img{
    width: 380px;
    height: auto;
}

/*Contactページ*/
.message{
    width: 340px;
    resize: both;
}
.my-email{
    width: 350px;
    padding: 10px;
}
.my-email a{
    font-size: 1.4rem;
}

/*フッター*/
footer{
    margin: 40px 5% 20px 5%;   
}

}

@media screen and (max-width:639px) {
html{
    
}
header{
    width: 100%;
    padding: 20px 0;
    margin: 20px 0;
}
h1{
    font-size: 3.5rem;
}

article{
    display: flex;
    flex-direction: column;
}

.side{
    width: 100%;
    background-color: rgba(207, 207, 207,0.2);
    margin-bottom: 10px;
    border: none;
}
.top-contents{
    width: 100%;
    
    margin: 0;
}

.info-contents,
.profile-contents,
.gallery-contents,
.blog-contents{
    width: 100%;
    margin: 0;
    padding: 40px 20px;
}

.blog-1,.blog-2{
    text-align: center;
}

.blog-contents img{
    width: 80vw;
    height: auto;   
}

.blog-text{
    text-align: left;
    margin: 0 2.5%;
}
/*Galleryページ*/
.illust{
    grid-template-columns: repeat(auto-fill, 300px);    
}
.design{
    grid-template-columns: repeat(auto-fill, 250px);
}


.illust-coment{
    width: 300px;
}

.design-coment{
    width: 250px;
}
.website-coment{
    width: 95%;
    margin: 20px 2.5% 50px 2.5%;
}



.illust img{
    width: 300px;
    height: 300px;
}
.design img{
    width: 250px;
    height: 200px;
}

.website img{
   width: 95%;
   margin: 0 2.5%;
}


.contact-contents{
    width: 100%;
    margin: 0;
    padding: 40px 8%;
}

input{
    width: 65%;
}

textarea{
    width: 80%;
}

.my-email{
    width: 80%;
    padding: 10px;
}
.my-email a{
    font-size: 1.2rem;
}



footer{
    height: 50px;
    margin: 20px 0;
}



}